body {
    margin: 0;
    padding: 0;
    background-color: white;
    align-items: "center";
    justify-content: "center";
    font-family: "Courier New", monospace;
    margin:0 auto 0 auto;
	display:table;

  }
  
  .box {
    width: 100px;
    height: 100px;
    background: #eee;
    border: 1px solid #bdbdbd;
    cursor: pointer;
  }
  
  div#game {
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25;
  }
  
  .row {
    display: flex;
  }
  
  button {
    color: white;
    margin: 5px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #eceff1;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    color: coral;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
  h2#turn {
    color: steelblue;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2#winner {
    color: white;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

  div#winner {
      background-color: steelblue;
      margin: 5px;
      padding-inline-start: 20px;
    padding-inline-end: 20px;
    border-radius: 10px;
    line-height: 38px;
  }
  
  h2#mode {
      color: steelblue;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  
  div#mode {
    border: 1px solid #bdbdbd;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border-radius: 10px;
    line-height: 10px;
  }